
body{
    background-image: url('https://img.freepik.com/free-photo/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg?size=626&ext=jpg');
}
header,#description{
    text-align: center;
    color:rgb(153, 0, 0);
    font-family: 'MedievalSharp';
}
section{
    background-color: rgb(206, 184, 118,0.6);
    border: 1px solid rgb(0, 0, 0);
    margin: 20px 25%;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
label,p,legend{
    color: black;
    font-family: 'MedievalSharp';
    font-size: 17px;
    font-weight: bolder;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"],
textarea,
select,
button
{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    font-family: 'MedievalSharp';
    font-weight: 700;
    padding: 5px;
    color: rgb(38, 38, 39);
}
input[type="radio"],
input[type="checkbox"]
{
    border: 2px solid black;
}
input[type="submit"]{
    background-color: rgb(235, 180, 108);
    color:rgb(153, 0, 0);
    font-weight: bolder;
}
input[type="submit"]:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}
option{
    border: 5px solid black;
}